@import "../../global/global.scss";
.contactUsSec {
  background: linear-gradient(to bottom, #f7f6f4, #fff);
  .container {
    max-width: 1440px;
    margin: auto;
    .contactUsMain {
      @include disFx();
      flex-direction: column;
      padding: 40px;
      h2 {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;
        &::after {
          content: "";
          display: block;
          width: 280px;
          height: 3px;
          background-color: #e6b100;
          margin: 10px auto 0;
        }
      }
      .titileText {
        font-size: 20px;
        max-width: 1000px;
        text-align: center;
        color: #333;
        line-height: 1.6;
        margin-bottom: 50px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%;
        fieldset {
          border-radius: 20px;
          background-color: #f2f0ec;
          border: 1px solid #d0ccc7;
          position: relative;
          legend {
            color: red;
            position: absolute;
            left: 10px;
            top: -20px;
          }
          textarea,
          input {
            border: none;
            outline: none;
            background: transparent;
            padding: 20px;
            width: 100%;
            font-size: 16px;
          }
        }
        .eachLine {
          display: flex;
          justify-content: center;
          gap: 20px;
          width: 100%;
          fieldset {
            max-width: 500px;
            width: 100%;
          }
        }
        fieldset {
          max-width: 1020px;
          width: 100%;
          .textareaStyle {
            min-height: 300px;
            resize: none;
          }
        }
        .buttons {
          display: flex;
          justify-content: center;
          gap: 20px;
          width: 100%;
          button {
            font-size: 22px;
            border-radius: 60px;
            transition: all 0.5s;
            cursor: pointer;
            border: 1px solid transparent;
            background: linear-gradient(135deg, #f6a700, #ffcc00);
            color: white;
            box-shadow: 0 4px 12px rgba(246, 167, 0, 0.3);
            padding: 10px 40px;
            max-width: 300px;
            font-weight: bold;
            width: 100%;
            &:hover {
              background: linear-gradient(135deg, #ff9900, #ffd700);
              box-shadow: 0 4px 12px rgba(255, 210, 77, 0.5);
              color: rgb(240, 77, 36);
              transform: translateY(-2px);
            }
          }
        }
      }
      @media screen and (max-width: 1165px) {
        h2 {
          font-size: 40px;
        }
        .titileText {
          font-size: 19px;
          max-width: 800px;
        }
        form {
          .eachLine {
            fieldset {
              max-width: 400px;
            }
          }
          fieldset {
            max-width: 820px;
          }
        }
      }
      @media screen and (max-width: 890px) {
        padding: 40px 60px;
        h2 {
          font-size: 36px;
        }
        .titileText {
          font-size: 19px;
          max-width: 600px;
        }
        form {
          .eachLine {
            fieldset {
              max-width: 300px;
            }
          }
          fieldset {
            max-width: 620px;
          }
        }
      }
      @media screen and (max-width: 555px) {
        form {
          gap: 40px;
          .eachLine {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            fieldset {
              max-width: 420px;
            }
          }
          fieldset {
            .textareaStyle {
              min-height: 200px;
            }
          }
        }
      }
      @media screen and (max-width: 465px) {
        padding: 40px 50px;
        h2 {
          font-size: 32px;
        }
        .titileText {
          font-size: 18px;
        }
        form {
          .buttons {
            flex-direction: column;
            button {
              max-width: 100%;
              font-size: 18px;
            }
          }
        }
      }
      @media screen and (max-width: 395px) {
        h2 {
          &::after {
            width: 200px;
          }
        }
        form {
          fieldset {
            input {
              padding: 10px 20px;
            }
          }
          .eachLine {
            flex-direction: column;
            align-items: center;
            fieldset {
              max-width: 420px;
            }
          }
          fieldset {
            .textareaStyle {
              min-height: 150px;
            }
          }
        }
      }
    }
  }
}
