.lineEachElement {
  display: flex;
  justify-content: space-evenly;
  // align-items: center;
  gap: 20px;
  padding: 20px;
  .leftSide {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: white;
    max-width: 500px;
    img {
      display: none;
    }
    h2 {
      font-size: 30px;
      &::after {
        content: "";
        display: block;
        width: 300px;
        margin-top: 10px;
        height: 3px;
        background: orange;
      }
    }
    .midTitle {
      font-size: 36px;
      font-weight: 600;
    }
    .lineEachElInfo {
      font-weight: 500;
      font-size: 19px;
      word-spacing: 5px;
    }
    a {
      color: white;
      border: 1px solid #d68240;
      background: #d68240;
      padding: 12px 16px;
      border-radius: 4px;
      max-width: 240px;
      text-align: center;
      font-size: 20px;
      transition: all 0.5s;
      &:hover {
        color: #d68240;
        background: white;
        border-color: #d68240;
      }
    }
  }
  .rightSide {
    max-width: 550px;
    width: 100%;
    img {
      width: 100%;
      border-radius: 12px;
    }
  }
  @media screen and (max-width: 1215px) {
    .leftSide {
      h2 {
        font-size: 27px;
      }
      .midTitle {
        font-size: 32px;
      }
      .lineEachElInfo {
        font-size: 18px;
      }
      a {
        font-size: 19px;
      }
    }
    .rightSide {
      max-width: 450px;
      img {
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 1065px) {
    .leftSide {
      h2 {
        font-size: 25px;
      }
      .midTitle {
        font-size: 30px;
      }
      .lineEachElInfo {
        font-size: 17px;
        line-height: 20px;
      }
    }
    .rightSide {
      max-width: 380px;
      img {
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 980px) {
    .leftSide {
      max-width: 400px;
      h2 {
        font-size: 23px;
      }
      .midTitle {
        font-size: 27px;
      }
      a {
        max-width: 170px;
        font-size: 16px;
      }
    }
    .rightSide {
      max-width: 330px;
      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }
  @media screen and (max-width: 835px) {
    .rightSide {
      max-width: 230px;
      img {
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 720px) {
    .leftSide {
      max-width: 550px;
      align-items: center;
      text-align: center;
      img {
        display: block;
        max-width: 400px;
        width: 100%;
      }
      h2 {
        font-size: 23px;
      }
      .midTitle {
        font-size: 27px;
      }
      a {
        max-width: 300px;
        width: 100%;
      }
    }
    .rightSide {
      display: none;
    }
  }
  @media screen and (max-width: 628px) {
    .leftSide {
      max-width: 450px;
    }
  }
  @media screen and (max-width: 540px) {
    .leftSide {
      max-width: 400px;
      h2 {
        font-size: 21px;
      }
      .midTitle {
        font-size: 23px;
      }
      img {
        max-width: 300px;
      }
    }
  }
  @media screen and (max-width: 476px) {
    .leftSide {
      max-width: 320px;
    }
  }
  @media screen and (max-width: 406px) {
    .leftSide {
      max-width: 300px;
      h2 {
        font-size: 18px;
      }
      .midTitle {
        font-size: 20px;
      }
      .lineEachElInfo {
        line-height: 18px;
        font-size: 15px;
      }
      a {
        max-width: 270px;
      }
      img {
        max-width: 270px;
      }
    }
  }
  @media screen and (max-width: 356px) {
    .leftSide {
      max-width: 270px;
    }
  }
}
