.cuisinesBox {
  .eachCuisine {
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    padding: 20px 0;
    margin-top: 50px;
    .leftSide {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .restaurants {
        font-size: 20px;
        font-weight: 600;
        color: #b5831e;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 8px;
        &::after {
          content: "";
          display: block;
          width: 30%;
          height: 2px;
          background-color: #b5831e;
          margin-top: 4px;
          border-radius: 1px;
          transition: width 0.3s;
        }
        &:hover::after {
          width: 70%;
        }
      }
      .cusisineType {
        font-size: 60px;
        font-weight: bold;
      }
      .aboutCousine {
        color: #5c4529;
        max-width: 550px;
        font-size: 20px;
      }
    }
    .rightSide {
      overflow: hidden;
      img {
        min-width: 300px;
        height: 350px;
        border-radius: 20px;
      }
    }
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 50px;
  }
}
