@import "../../../global/global.scss";
.reserveDate {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    object-fit: contain;
    max-width: 1140px;
    position: relative;
    .resereveInfoTextMain {
      font-size: 40px;
      color: white;
      text-align: center;
      @include reserveTitleStyle();
      position: absolute;
      top: 10%;
      &::after {
        width: 300px;
      }
    }
    .resereveInfoTextMiddle,
    .resereveInfoTextLast {
      text-align: center;
      position: absolute;
      color: white;
      color: #e8c27c;
      font-size: 32px;
    }
    p:nth-child(3) {
      top: 40%;
    }
    p:nth-child(4) {
      top: 65%;
    }
    p {
      left: 50%;
      transform: translateX(-50%);
      max-width: 900px;
      width: 100%;
    }
  }
  .reserveDateInfo {
    .reserveMainInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      border-radius: 20px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      .eachLine {
        display: flex;
        justify-content: space-between;
        font-size: 21px;
        border-bottom: 1px solid #333;
        padding-bottom: 5px;
      }
    }
    .reserveNotFound {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
      border-radius: 20px;
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
      p {
        font-size: 30px;
      }
      a {
        color: white;
        background: orange;
        padding: 20px;
        border-radius: 20px;
        max-width: 300px;
      }
    }
  }
}
